//Shared

.comment-count {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-comment {
  color: #cecece !important;
  padding-left: 5px;
}

.btn-primary {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 104%;
  height: 60px !important;
}




