.contact-btn {
  margin-right: -10px;
  padding: 12px 45px;
  padding-top: 14px;
  background: #637685;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  &:hover {
    background: darken(#637685, 5%);
  }
  &:active {
    background: darken(#637685, 10%);
  }

}

#map {
  height: 300px;
  width: 100%;
}
