.contact-btn {
  margin-right: -10px;
  padding: 12px 45px;
  padding-top: 14px;
  background: #637685;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .contact-btn:hover {
    background: #586976; }
  .contact-btn:active {
    background: #4d5c68; }

#map {
  height: 300px;
  width: 100%; }

/*# sourceMappingURL=Contact.css.map */
