.input-item {
  text-align: center;
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);

  label, input, button, select {
    display: inline;
    padding: 12px;
    border: 0;
    outline: 0;
    border-radius: 0;
    height: 100%;
  }
  select {
    margin-right: -10px;
  }
  label {
    background: #BBC9D4;
    margin: 0;
  }

  input {
    width: 70%;

    &:disabled {
      color: grey;
    }
  }

  button {
    padding: 12px 45px;
    padding-top: 14px;
    background: #637685;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    &:hover {
      background: darken(#637685, 5%);
    }
    &:active {
      background: darken(#637685, 10%);
    }
  }
}

.comment-style {
  text-align: center;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 1px;
  background-color: white;

  .input-ctn {
    overflow: hidden;
    padding-right: .5em;
  }

  label, input, button {
    display: inline;
    padding: 12px;
    border: 0;
    outline: 0;
    border-radius: 0;
    height: 100%;
  }

  label {
    margin: 0;
    float: left;
  }

  input {
    background: none;
    width: 100%;
    overflow: hidden;

    &:disabled {
      color: grey;
    }
  }

  button {
    float: right;
    padding: 12px 45px;
    padding-bottom: 14px;
    background: #637685;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    &:hover {
      background: darken(#637685, 5%);
    }
    &:active {
      background: darken(#637685, 10%);
    }
  }
}

.contact {
  .btn-primary {
    //margin-left: -5px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  input, textarea {

    width: 100%;
    background-color: white;
    border-radius: 0 !important;
    margin: 10px;
  }
}
