.newsletter-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background: url(/uploads/newsletterbg.jpg);
  background-position: right;
  height: 50vh; }

.carousel-text {
  position: absolute;
  top: 35%;
  left: 33%;
  right: 30%;
  z-index: +99;
  color: white;
  font-size: 40px; }

.carousel-indicators .active {
  background-color: grey !important;
  height: 15px;
  width: 15px;
  border-color: grey; }

.carousel-indicators li {
  width: 15px;
  height: 15px; }

/*# sourceMappingURL=Frontpage.css.map */
