//Colors
.bg-white {
  background-color: white !important;
}

.bg-grey {
  background-color: grey;
}

.font-color-white {
  color: white
}

.font-color-red {
  color: #fecbd4 !important;
}

.font-color-grey {
  color: grey;
}

//padding/margin

.margin-null {
  margin: 0 !important;
}

.margin-top-null {
  margin-top: 0 !important;
}

.margin-top-xs-pos {
  margin-top: 20px;
}

.margin-top-xs-neg {
  margin-top: -10%;
}

.padding-reset {
  padding: 0 !important;
}

.section-space-small {
  margin-bottom: 20px !important;
}

.section-space-med {
  margin-bottom: 75px !important;
}

.section-space-big {
  margin-bottom: 150px !important;
}

//Others
.no-border-radius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: #fafafa;
}

* {
  font-family: 'Open Sans', sans-serif;
}