//Media queries

//320 Min
@media (min-width: 320px) {
  .Position {
    float: left !important;
    margin-left: 65%;
    margin-top: 12px;
    font-size: 18px;
  }

}

/* Extra Small Devices, Phones */
@media (max-width: 426px) {
  .comment-mobile {
    .btn-primary {
      width: 100%;
    }
  }
  .newsletter {
    input {
      width: 100%;
    }
    .btn-responsive {
      display: block;
      width: 100% !important;
    }
  }
  .navbar-collapse {
    padding-right: 15px !important;
    padding-left: 30px !important;
  }
  .Position {
    float: left !important;
    margin-left: 70%;
    margin-top: 12px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .comment-mobile {
    .btn-primary {
      width: 100%;
    }
  }
  .newsletter {
    input {
      width: 100%;
    }

    .btn-responsive {
      display: block;
      width: 100% !important;
    }
  }
  .navbar-collapse {
    padding: 0 !important;
  }
  .margin-remove-top {
    margin-top: 100px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 769px) {

  .navbar-collapse {
    padding: 0 !important;
  }
  .btn-responsive {
    display: inline-block;
  }
  .newsletter {
    input {
      width: 80% !important;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .comment-mobile {
    .btn-primary {
      width: 100%;
    }
  }

  .search-btn {
    padding: 14px 60px;
  }
  .margin-top-slider {
    margin-top: -15%;
  }
}


