
.nav-bg {
  background: #67879e;
}

.carousel-text {
  font-family: 'Lobster', cursive;
}

.nav-font-size {

  font-size: 12px !important;

}

#navbar-primary .navbar-nav {
  padding: 0 !important;
  height: 15vh;
  width: 100%;
  text-align: center;
  > li {
    display: inline-block;
    float: none;
    > a {
      color: white !important;
      padding-left: 30px;
      padding-right: 30px;
      text-transform: UPPERCASE;
    }
    a:hover {
      background-color: transparent !important;
    }
  }
}

.logo {
  font-family: 'Lobster', cursive !important;
  color: white !important;
}

.logo-black {
  font-family: 'Lobster', cursive !important;
  color: black !important;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

footer {
  background-color: #333333;
  margin-top: 40px !important;
  .btn-circle.btn-xl {
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
  }
  h2 {
    text-transform: Lowercase !important;
  }
  p {
    color: #898989;
  }
}

.footer-margin {
  margin-top: -20px;
}

.footer-box {
  margin-top: -1px;
  height: 40px;
  background-color: #252525;
}
