.product-seemore {
  width: 100%;
  background-color: transparent !important;
  border: 1px solid black;
  padding: 15px; }

.like-btn {
  border: 1px solid black !important;
  width: 100%;
  padding: 15px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  text-transform: uppercase; }

.ing-box {
  border: 1px solid black;
  padding: 20px;
  background-color: white !important;
  color: grey;
  margin-bottom: -5px;
  font-size: 15px; }

.li-style {
  list-style: none !important;
  margin-bottom: 12px; }

.highlight {
  color: black !important; }

.prodcategory {
  font-weight: 200;
  font-size: 15px;
  text-decoration: none !important;
  color: grey; }

.comment-box {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
  margin: 5px; }
  .comment-box h3 {
    margin-top: 5px; }

.search-btn {
  padding: 14px 75px; }

.page_numbers, .pagination {
  padding: 5px; }
  .page_numbers a, .pagination a {
    margin-left: 3px !important; }

/*# sourceMappingURL=Products.css.map */
