@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lobster");
.comment-count {
  margin-top: 10px;
  margin-bottom: 10px; }

.fa-comment {
  color: #cecece !important;
  padding-left: 5px; }

.btn-primary {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 104%;
  height: 60px !important; }

.contact-btn {
  margin-right: -10px;
  padding: 12px 45px;
  padding-top: 14px;
  background: #637685;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .contact-btn:hover {
    background: #586976; }
  .contact-btn:active {
    background: #4d5c68; }

#map {
  height: 300px;
  width: 100%; }

.input-item {
  text-align: center;
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%); }
  .input-item label, .input-item input, .input-item button, .input-item select {
    display: inline;
    padding: 12px;
    border: 0;
    outline: 0;
    border-radius: 0;
    height: 100%; }
  .input-item select {
    margin-right: -10px; }
  .input-item label {
    background: #BBC9D4;
    margin: 0; }
  .input-item input {
    width: 70%; }
    .input-item input:disabled {
      color: grey; }
  .input-item button {
    padding: 12px 45px;
    padding-top: 14px;
    background: #637685;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer; }
    .input-item button:hover {
      background: #586976; }
    .input-item button:active {
      background: #4d5c68; }

.comment-style {
  text-align: center;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 1px;
  background-color: white; }
  .comment-style .input-ctn {
    overflow: hidden;
    padding-right: .5em; }
  .comment-style label, .comment-style input, .comment-style button {
    display: inline;
    padding: 12px;
    border: 0;
    outline: 0;
    border-radius: 0;
    height: 100%; }
  .comment-style label {
    margin: 0;
    float: left; }
  .comment-style input {
    background: none;
    width: 100%;
    overflow: hidden; }
    .comment-style input:disabled {
      color: grey; }
  .comment-style button {
    float: right;
    padding: 12px 45px;
    padding-bottom: 14px;
    background: #637685;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer; }
    .comment-style button:hover {
      background: #586976; }
    .comment-style button:active {
      background: #4d5c68; }

.contact .btn-primary {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }
.contact input, .contact textarea {
  width: 100%;
  background-color: white;
  border-radius: 0 !important;
  margin: 10px; }

.newsletter-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background: url(/uploads/newsletterbg.jpg);
  background-position: right;
  height: 50vh; }

.carousel-text {
  position: absolute;
  top: 35%;
  left: 33%;
  right: 30%;
  z-index: +99;
  color: white;
  font-size: 40px; }

.carousel-indicators .active {
  background-color: grey !important;
  height: 15px;
  width: 15px;
  border-color: grey; }

.carousel-indicators li {
  width: 15px;
  height: 15px; }

.item {
  height: 80vh !important; }
  .item img {
    position: absolute; }

.bg-white {
  background-color: white !important; }

.bg-grey {
  background-color: grey; }

.font-color-white {
  color: white; }

.font-color-red {
  color: #fecbd4 !important; }

.font-color-grey {
  color: grey; }

.margin-null {
  margin: 0 !important; }

.margin-top-null {
  margin-top: 0 !important; }

.margin-top-xs-pos {
  margin-top: 20px; }

.margin-top-xs-neg {
  margin-top: -10%; }

.padding-reset {
  padding: 0 !important; }

.section-space-small {
  margin-bottom: 20px !important; }

.section-space-med {
  margin-bottom: 75px !important; }

.section-space-big {
  margin-bottom: 150px !important; }

.no-border-radius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

body {
  background-color: #fafafa; }

* {
  font-family: 'Open Sans', sans-serif; }

@media (min-width: 320px) {
  .Position {
    float: left !important;
    margin-left: 65%;
    margin-top: 12px;
    font-size: 18px; } }
/* Extra Small Devices, Phones */
@media (max-width: 426px) {
  .comment-mobile .btn-primary {
    width: 100%; }

  .newsletter input {
    width: 100%; }
  .newsletter .btn-responsive {
    display: block;
    width: 100% !important; }

  .navbar-collapse {
    padding-right: 15px !important;
    padding-left: 30px !important; }

  .Position {
    float: left !important;
    margin-left: 70%;
    margin-top: 12px;
    font-size: 18px; } }
@media only screen and (max-width: 768px) {
  .comment-mobile .btn-primary {
    width: 100%; }

  .newsletter input {
    width: 100%; }
  .newsletter .btn-responsive {
    display: block;
    width: 100% !important; }

  .navbar-collapse {
    padding: 0 !important; }

  .margin-remove-top {
    margin-top: 100px; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 769px) {
  .navbar-collapse {
    padding: 0 !important; }

  .btn-responsive {
    display: inline-block; }

  .newsletter input {
    width: 80% !important; } }
@media only screen and (max-width: 1024px) {
  .comment-mobile .btn-primary {
    width: 100%; }

  .search-btn {
    padding: 14px 60px; }

  .margin-top-slider {
    margin-top: -15%; } }
.nav-bg {
  background: #67879e; }

.carousel-text {
  font-family: 'Lobster', cursive; }

.nav-font-size {
  font-size: 12px !important; }

#navbar-primary .navbar-nav {
  padding: 0 !important;
  height: 15vh;
  width: 100%;
  text-align: center; }
  #navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none; }
    #navbar-primary .navbar-nav > li > a {
      color: white !important;
      padding-left: 30px;
      padding-right: 30px;
      text-transform: UPPERCASE; }
    #navbar-primary .navbar-nav > li a:hover {
      background-color: transparent !important; }

.logo {
  font-family: 'Lobster', cursive !important;
  color: white !important; }

.logo-black {
  font-family: 'Lobster', cursive !important;
  color: black !important; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: 0 !important;
  margin-left: 0 !important; }

footer {
  background-color: #333333;
  margin-top: 40px !important; }
  footer .btn-circle.btn-xl {
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33; }
  footer h2 {
    text-transform: Lowercase !important; }
  footer p {
    color: #898989; }

.footer-margin {
  margin-top: -20px; }

.footer-box {
  margin-top: -1px;
  height: 40px;
  background-color: #252525; }

.product-seemore {
  width: 100%;
  background-color: transparent !important;
  border: 1px solid black;
  padding: 15px; }

.like-btn {
  border: 1px solid #6a7177 !important;
  width: 100%;
  padding: 15px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  text-transform: uppercase; }

.ing-box {
  border: 1px solid black;
  padding: 20px;
  background-color: white !important;
  color: grey;
  margin-bottom: -5px;
  font-size: 15px; }

.li-style {
  list-style: none !important;
  margin-bottom: 12px; }

.highlight {
  color: black !important; }

.prodcategory {
  font-weight: 200;
  font-size: 15px;
  text-decoration: none !important;
  color: grey; }

.comment-box {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
  margin: 5px; }
  .comment-box h3 {
    margin-top: 5px; }

.search-btn {
  padding: 14px 75px; }

.page_numbers, .pagination {
  padding: 5px; }
  .page_numbers a, .pagination a {
    margin-left: 3px !important; }

/*# sourceMappingURL=Main.css.map */
